.i-tw{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login-box{
    margin-top: 10px;
    background-color: #15202c;
    width: 500px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px grey;
    border-radius: 5px;
}

.login-box:focus-within{
    border: #008abe solid 1px;
}

.login-label{
    height: 46px;
    margin-left: 3px;
    margin-top: 5px;
    display: block;
}

.login-label:focus-within{
    color: #008abe;
}

input[type=text],
input[type=password]{
    width: 490px;
    margin-left: 0;
    background-color: #15202c;
    border: none;
    outline: none;
    color: white;
    font-size: 22px;
    font-weight: 300;
    display: block;
}

.in-sub{
    margin-top: 10px;
    height: 51px;
    width: 500px;
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

input[type=submit]{
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #008abe;
    border: none;
    border-radius: 20px;
    width: 500px;
    height: 45px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #047ca9;
}

.links{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.forgot-pass{
    text-decoration: none;
    font-size: 13px;
    color: #008abe;
    letter-spacing: 1px;
}

.forgot-pass:hover{
    text-decoration: underline ;
}