body{
    background-color: #15202c;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.left{
    width: 852px;
    height: 788px;
    float: left;
}

.right{
    width: 550px;
    height: 488px;
    float: left;
    padding: 20px 0 0 100px;
}

.login-field-start{
    background-color: #192734;
    width: 200px;
    height: 51px;
    margin-right: 10px;
    float: left;
}


.login-label{
    color: dimgrey;
    height: 46px;
    margin-left: 0px;
    margin-top: 5px;
    display: block;
    border-bottom: darkgray solid 3px;
    padding-left: 9px;
}

.login-label:focus-within{
    border-bottom: #008abe solid 3px;
    color: #008abe;
}

input[type=text],
input[type=password]{
    width: 180px;
    margin-left: 0px;
    background-color: #192734;
    border: none;
    outline: none;
    color: white;
    font-size: 22px;
    font-weight: 300;
}

.in-sub{
    height: 51px;
    width: 70px;
    float: left;
    padding-top: 6px;
}

input[type=submit]{
    color: #008abe;
    font-size: 14px;
    font-weight: bold;
    background: none;
    border: 1px solid #008abe;
    border-radius: 20px;
    width: 70px;
    height: 40px;
}

input[type=submit]:hover{
    background-color: #213248;
}

.under-log{
    width: 70%;
    margin-top: 200px;
    margin-left: 0;
    height: 200px;
}

.happen{
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
}

.join-tw-today{
    margin-top: 40px;
    font-weight: bold;
}

.button-on-start{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    background: none;
    border: 1px solid #008abe;
    border-radius: 20px;
    width: 400px;
    height: 40px;
    text-align: center;
}

.forgot-pass{
    text-decoration: none;
    font-size: 13px;
    color: #008abe;
    margin-left: 217px;
    letter-spacing: 1px;
}

.forgot-pass:hover{
    text-decoration: underline ;
}

.signup-button{
    color: #ffffff;
    background-color: #008abe;
}

.login-button{
    color: #008abe;
}

.signup-button:hover{
    background-color: #027fae;
}

.login-button:hover{
    background-color: #202f40;
}


