body{
    background-color: #15202c;
    color: white;
}

.left{
    width: 852px;
    height: 788px;
    float: left;
}

.right{
    width: 550px;
    height: 488px;
    float: left;
    padding: 20px 0 0 100px;
}

input[type=text],
input[type=password]{
    width: 150px;
    margin: 5px;
    background-color: #192734;
    border: none;
    outline: none;
    color: white;
    font-size: 22px;
}

.login-field-start{
    background-color: #192734;
    width: 180px;
    height: 70px;
    margin-right: 10px;
    float: left;
    border-bottom: darkgray solid 2px;
}

.login-label{
    color: dimgrey;
}
