.i-tw{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.create-your{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box{
    margin-top: 10px;
    background-color: #15202c;
    width: 500px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px grey;
    border-radius: 5px;
}

.box:focus-within{
    border: #008abe solid 1px;
}

.login-label{
    height: 46px;
    margin-left: 3px;
    margin-top: 5px;
    display: block;
}

.login-label:focus-within{
    color: #008abe;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date]{
    width: 490px;
    margin-left: 0;
    background-color: #15202c;
    border: none;
    outline: none;
    color: white;
    font-size: 22px;
    font-weight: 300;
    display: block;
}

.button-reg{
    margin-left: auto;
    margin-right: auto;
}

.acc-res{
    margin-top: 10px;
    height: 51px;
    width: 100px;
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    float: left;
}

input[type=submit],
input[type=reset]{
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #008abe;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 45px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #047ca9;
}

input[type=reset]:hover{
    background-color: #047ca9;
}

.link-div{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.link{
    text-decoration: none;
    font-size: 13px;
    color: #008abe;
    letter-spacing: 1px;
}

.link:hover{
    text-decoration: underline ;
}