/*navigation  #################################################################################################### */
li{
    list-style-type: none;
}

.b-twi-ic{
    border-radius: 50px;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
}

.b-twi-ic:hover{
    background-color: #203143 !important;
    color: white !important;
}

.b-twi-ic > a:hover{
    color: white !important;
}

.b-twi-ic > a:focus{
    color: white !important;
}

@media screen and (min-width: 0){
    .left-menu{
        width: 3rem;
        height: 3rem;
        border-radius: 30px;
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1200px){
    .left-menu{
        width: fit-content;
        height: 3rem;
        border-radius: 30px;
        font-size: 1.3rem;
    }
}


.left-menu:hover{
    background-color: #203143 !important;
}

.left-menu > a{
    font-weight: bold;
    border-radius: 30px !important;
}

.left-menu > a:hover{
    color: #027fae !important;
}

.left-menu > a:focus{
    color: #027fae !important;
}

/*button TWEET #################################################################################################### */
@media screen and (min-width: 0){
    .tweet-button {
        width: 3rem;
        height: 3rem;
        background-color: #008abe;
        border-radius: 50px;
        border: none;
        color: white;
    }
}

@media screen and (min-width: 1200px){
    .tweet-button {
        width: 12rem;
        height: 3rem;
        background-color: #008abe;
        border-radius: 50px;
        border: none;
        color: white;
    }
}


.tweet-button:hover {
    background-color: #027fae;
}

/* user at id button ################################################################################################ */
@media screen and (min-width: 0) {
    .user-at-id {
        width: 3rem;
        height: 3rem;
        border-radius: 50px;
        font-size: 1.3rem;
        background-color: #15202b !important;
        color: white;
        border: none;
    }
}

@media screen and (min-width: 1200px) {
    .user-at-id {
        width: 12rem;
        height: 4rem;
        border-radius: 50px;
        font-size: 1.3rem;
        background-color: #15202b !important;
        color: white;
        border: none;
    }
}

.user-at-id:hover{
    background-color: #203143 !important;
}

/* main layout ################################################################################################ */

@media screen and (min-width: 0){
    .div-out-main{
        width: 400px;
        border-left: #95999c 1px solid;
        border-right: #95999c 1px solid;
    }
}

@media screen and (min-width: 768px){
    .div-out-main{
        width: 600px;
        border-left: #95999c 1px solid;
        border-right: #95999c 1px solid;
    }
}

/* aside layout ################################################################################################ */
.div-search-input{
    height: 30px;
    background-color: #203143;
    border-radius: 50px;
}

.like-trends{
    background-color: #203143;
    border-radius: 30px;
}