<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie użytkownika</title>
    <!--link rel="stylesheet" th:href="@{main.css}"/-->
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_big-stone.min.css">
</head>
<body>
<h1 align="center">Dodawanie nowego użytkownika:</h1>
<form align="center" th:action="@{/adduser}" method="post" th:object="${newUser}">
    <table align="center">
    <tr>
        <td><b>First Name:</b></td>
        <td><input type="text" size="20" th:field="*{firstName}"/></td>
        </tr>
    <tr>
        <td><b>Last Name:</b></td>
        <td><input type="text" th:field="*{lastName}"/></td>
    </tr>
    <tr>
        <td><b>E-mail:</b></td>
        <td><input type="text" th:field="*{mail}"/></td>
    </tr>
    <tr>
        <td><b>Login name:</b></td>
        <td><input type="text" th:field="*{login}"/></td>
    </tr>
    <tr>
        <td><b>Password: </b></td>
        <td><input type="password" th:field="*{password}"/></td>
    </tr>
    <td><b>Age:</b></td>
     <td><input type="text" th:field="*{birthDate}"/></td>
    </table>

    <p><input type="submit" value="Submit"/> </p>
    <p><input type="reset" value="Reset"/> </p>
</form>
<div>
<form th:action="@{/home}">
    <button type="submit">Powrót</button>
</form>
</div>

</body>
</html>