<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/main.css" rel="stylesheet" >
    <link href="images/logo.png" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

</head>
<body >
    <main>
        <div>
            <div class="left" th:style="|background-image:url(@{/images/orgTwi.png});|"></div>
            <div class="right">
                <form>
                    <div class="login-field-start">
                        <label class="login-label">Phone, email or username
                            <input type="text">
                        </label>
                    </div>
                    <div class="login-field-start">
                        <label class="login-label">Password
                            <input type="password">
                        </label>
                    </div>
                    <div class="in-sub">
                        <input type="submit" value="Log in">
                    </div>
                    <div style="clear:both;"></div>
                </form>
            </div>
            <div style="clear:both;"></div>
        </div>
    </main>
</body>
</html>