<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/main.css" rel="stylesheet" >
    <link href="images/logo.png" rel="stylesheet" >

</head>
<body >
    <main>
        <div>
            <div class="left" th:style="|background-image:url(@{/images/orgTwi.png});|">

            </div>

        </div>
    </main>
</body>
</html>