<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona logowania:</title>
<!--    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>-->
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_big-stone.min.css">
</head>
<body>
<main>
    <h1 align="center">Great!</h1>
    <div align="center">
        <h3>Successful registration.</h3><br/>
        <span>Now please go <a th:href="@{/login}">here</a> and sign in to your account.</span>
    </div>
</main>
</body>
</html>