<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Main user page</title>

    <link th:href="@{'css/bootstrap/bootstrap.min.css'}" rel="stylesheet" >
    <link th:href="@{'css/main.css'}" rel="stylesheet">
    <link th:href="@{'css/userpage.css'}" rel="stylesheet">
    <link th:href="@{'css/fontello.css'}" rel="stylesheet">
    <link th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link th:href="@{'https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap'}" rel="stylesheet">
    <link th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css'}" rel="stylesheet">

</head>
<body class="container-fluid">
    <div class="row justify-content-center h-100">
        <header class="fixed-top col-1 col-md-2 h-100">
            <div class="d-flex flex-column justify-content-between h-100">
                <nav>
                    <div>
                        <div class="b-twi-ic">
                            <a class="d-flex w-100 h-100 text-light text-decoration-none" href="#">
                                        <span class="d-block px-3 py-2">
                                            <i class="align-top m-0 bi bi-twitter"></i>
                                        </span>
                            </a>
                        </div>
                        <div class="left-menu">
                            <a class="d-flex w-100 h-100 text-light text-decoration-none" href="#">
                                        <span class="d-block px-3 py-2 text-nowrap">
                                            <i class="align-top mr-3 bi bi-house-door"></i>
                                            <p class="d-inline-block m-0 pt-1">Home</p>
                                        </span>
                            </a>
                        </div>
                        <div class="left-menu">
                            <a class="d-flex w-100 h-100 text-light text-decoration-none" href="#">
                                        <span class="d-block px-3 py-2 text-nowrap">
                                            <i class="align-top mr-3 bi bi-hash"></i>
                                            <p class="d-inline-block m-0 pt-1">Explore</p>
                                        </span>
                            </a>
                        </div>
                        <div class="left-menu">
                            <a class="d-flex w-100 h-100 text-light text-decoration-none" href="#">
                                        <span class="d-block px-3 py-2 text-nowrap">
                                            <i class="align-top mr-3 bi bi-bell"></i>
                                            <p class="d-inline-block m-0 pt-1">Notifications</p>
                                        </span>
                            </a>
                        </div>
                        <div class="left-menu">
                            <a class="d-flex w-100 h-100 text-light text-decoration-none" href="#">
                                        <span class="d-block px-3 py-2 text-nowrap">
                                            <i class="align-top mr-3 bi bi-envelope"></i>
                                            <p class="d-inline-block m-0 pt-1">Messages</p>
                                        </span>
                            </a>
                        </div>
                        <div class="left-menu">
                            <a class="d-flex w-100 h-100 text-light text-decoration-none" href="#">
                                        <span class="d-block px-3 py-2 text-nowrap">
                                            <i class="align-top mr-3 bi bi-bookmark"></i>
                                            <p class="d-inline-block m-0 pt-1">Bookmarks</p>
                                        </span>
                            </a>
                        </div>
                        <div class="left-menu">
                            <a class="d-flex w-100 h-100 text-light text-decoration-none" href="#">
                                        <span class="d-block px-3 py-2 text-nowrap">
                                            <i class="align-top mr-3 bi bi-list-ul"></i>
                                            <p class="d-inline-block m-0 pt-1">Lists</p>
                                        </span>
                            </a>
                        </div>
                        <div class="left-menu">
                            <a class="d-flex w-100 h-100 text-light text-decoration-none" href="#">
                                        <span class="d-block px-3 py-2 text-nowrap">
                                            <i class="align-top mr-3 bi bi-person"></i>
                                            <p class="d-inline-block m-0 pt-1">Profile</p>
                                        </span>
                            </a>
                        </div>
                        <div class="left-menu">
                            <a class="d-flex w-100 h-100 text-light text-decoration-none" href="#">
                                        <span class="d-block px-3 py-2 text-nowrap">
                                            <i class="align-top mr-3 bi bi-three-dots"></i>
                                            <p class="d-inline-block m-0 pt-1">More</p>
                                        </span>
                            </a>
                        </div>
                    </div>
                    <div class="mt-3 py-0" style="width: 65%; height: 3rem; border-radius: 30px;">
                        <button class="btn btn-primary w-100 h-100 font-weight-bold" type="button" style="border-radius: 30px;">Tweet</button>
                    </div>
                </nav>
                <div class="mt-1 text-light left-menu">
                    <div class="w-100 h-100 px-3 py-2 text-nowrap" style="border-radius: 30px; line-height: 100%;">
                        <i class="d-inline-block mr-3 pt-1 bi bi-person-circle" style="font-size: 2.3rem; vertical-align: top;"></i>
                        <div class="d-inline-block">
                            <span class="d-block m-0 p-0" style="font-size: 1rem; font-weight: bold;">user</span>
                            <span class="d-block m-0 p-0" style="font-size: 1rem; color: #808080;">@userID</span>
                        </div>
                        <i class="d-inline-block ml-3 pt-1 bi bi-three-dots" style="font-size: 2rem; vertical-align: top;"></i>
                    </div>
                </div>
            </div>
        </header>


        <main class="col-md-5">
            <div class="text-light">
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut consectetur lacus, quis ultricies mi. Sed euismod finibus elit. Aliquam placerat arcu non nisi ullamcorper, at ultricies diam blandit. In hac habitasse platea dictumst. Vestibulum facilisis orci ut ex bibendum interdum. In gravida id leo vitae faucibus. Pellentesque vel porta ipsum, sollicitudin malesuada tortor.
<br><br>
                Fusce sagittis libero congue neque elementum tincidunt eget at libero. Maecenas in lacus nunc. Curabitur sit amet orci nisi. Vestibulum at mi eget eros ullamcorper consectetur vitae ut ligula. Vestibulum finibus rutrum purus sit amet rutrum. Morbi molestie auctor mi a maximus. Integer non sagittis lorem, ut commodo risus. Integer sit amet neque lectus. Proin vitae lacus eu urna auctor dignissim eu nec ipsum.
                <br><br>
                Nunc ornare consequat eros, id rutrum massa efficitur vel. Aliquam erat volutpat. Mauris eget hendrerit sem, ut porta urna. Sed quis lectus non sapien mattis vestibulum. Mauris eu lacinia ex. Donec egestas enim eu ante posuere eleifend. Fusce sollicitudin sollicitudin finibus. Morbi faucibus tristique lorem quis fermentum. Pellentesque ut quam et magna porta pulvinar eu vel velit. Mauris eu augue nisl.
                <br><br>
                Vivamus dignissim, mi nec pharetra euismod, leo justo eleifend augue, id luctus odio dui id nulla. Sed vestibulum nunc eu eros pretium efficitur. Cras lacinia libero vitae neque mattis, a rutrum nulla rhoncus. Sed porttitor fringilla elementum. Cras eu est in leo volutpat consectetur. Quisque sed maximus augue. Vestibulum nec lacus imperdiet, lobortis sapien quis, lobortis lacus. Nulla dictum lacus et nulla sodales dictum.
                <br><br>
                Nullam in euismod nulla. Ut erat velit, ornare a magna id, laoreet finibus diam. Proin sodales, enim vitae rutrum tempor, tortor dolor vestibulum dolor, eu dapibus enim orci vel nulla. Cras magna libero, consectetur eu ultricies nec, dignissim nec ante. Pellentesque efficitur maximus nisl nec vulputate. Duis interdum lacinia tellus et tristique. Nulla volutpat, felis nec elementum dictum, leo justo finibus ipsum, ut congue dui ex maximus metus.
                <br><br>
            </div>
        </main>

        <aside class="col-md-2">
            <div class="text-light">
                aside
            </div>
        </aside>
    </div>
    <script th:src="@{'https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js'}" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js'}" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<!--    <div class="it-s-a-content-before-main-look">-->
<!--        <div align="right">-->
<!--        <form method="POST" th:action="@{/logout}">-->
<!--            <input type="submit" value="Logout"/>-->
<!--        </form>-->
<!--        </div>-->
<!--        <h1 align="center">Welcome in Twitter App <input disabled th:value="${login}"> </h1>-->

<!--        <form action="/users">-->
<!--            <button class="btn btn-info" type="submit">Show users</button>-->
<!--        </form>-->
<!--        <p style="line-height: 1cm"></p>-->
<!--        &lt;!&ndash;form action="/delete">-->
<!--            <button class="btn btn-danger" type="submit">Usuwanie użytkownika</button&ndash;&gt;-->
<!--        </form>-->
<!--        <p style="line-height: 1cm"></p>-->
<!--        <form action="/finduser">-->
<!--            <button class="btn btn-info" type="submit">Find a user</button>-->
<!--        </form>-->
<!--        <p style = "line-height: 1cm"></p>-->
<!--        <form action="/addadmin">-->
<!--            <button class="btn btn-info">Add an admnistrator</button>-->
<!--        </form>-->
<!--        <p style = "line-height: 1cm"></p>-->
<!--        <form action="/admins">-->
<!--            <button class="btn btn-info">Admnistrators list</button>-->
<!--        </form>-->
<!--    </div>-->
</body>
</html>